@use './utils/variables';


.about__section {
    background-color: variables.$backgroundNeutralColor;
    margin: 0;
    margin-top: 60px;
    padding: 60px 20px 0 20px;
}

.about__container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__primary-header {
    font-family: "Titan One", sans-serif;
    color: variables.$backgroundFeatureBaseColor;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21/18);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-size: 18px;
    line-height: calc(21/18);
}

.about__secondary-header {
    font-family: "Titan One", sans-serif;
    color: variables.$textAccentColor;
    font-weight: 400;
    font-size: 34px;
    line-height: calc(39/34);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    width: 200px;
    margin-bottom: 32px;
}

.about__cow-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
}

.about__cow-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.about__body-text-container {
    background-image: url('../images/about-milk-splash-mobile.png');
    background-repeat: no-repeat;
    background-position-y: 70px; 
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__body-text-one {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(19/12);
    color: #000000;
    width: 220px;
    margin-bottom: 24px;
}

.about__body-text-two {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: cacl(19/12);
    color: #907E82;
    width: 210px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.about__button-icon {
    stroke: variables.$buttonAccentColor;
    fill: none;
    margin-left: 13px;
}

.about__button {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.06em;
    color: variables.$buttonAccentColor;
    background-color: #ffff;
    cursor: pointer;
    display: block;
    border-radius: 22px;
    padding: 12px 37px;
    display: flex;
    align-items: center;
    border: none;
    align-self: flex-start;

        &:hover,
        &:focus {
            background-color: variables.$buttonAccentColor;
            color: variables.$buttonInverseColor;}
            
        &:hover .about__button-icon,
        &:focus .about__button-icon {
            stroke: variables.$buttonInverseColor;
            fill: none;}
}

@media screen and (min-width: 768px) {
    .about__section {
        padding: 60px 30px 0 30px;
    }
    
    .about__container {
        max-width: 738px;
        margin: 0 auto;
    }

    .about__primary-header {
        font-size: 26px;
        line-height: calc(30/26);
    }

    .about__secondary-header {
        font-size: 48px;
        line-height: calc(55/48);
        width: 435px;
    }

    .about__body-container {
        width: 100%;
        display: flex;
    }

    .about__cow-image-container {
        width: 100%;
        margin-right: 32px;
    }
     
    .about__body-text-container {
        background-image: none;
    }

    .about__body-text-one {
        font-size: 14px;
        line-height: calc(25/14);
        width: 334px;
        margin-bottom: 20px;
    }

    .about__body-text-two {
        font-size: 14px;
        line-height: calc(25/14);
        width: 308px;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .about__section {
        padding: 60px 0 0 0;
    }

    .about__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .about__primary-header {
        font-size: 30px;
        line-height: calc(34/30);
    }

    .about__secondary-header {
        font-size: 58px;
        line-height: calc(66/58);
        width: 534px;
    }

    .about__body-container {
        background-image: url('../images/about-milk-splash-desk.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        display: flex;

        @media screen and (min-width: 1280px) {
            background-image: url('../images/about-milk-splash-desk.png');
    
            @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url('../images/about-milk-splash-desk-2x.png');
            }
        }
    }

    .about__cow-image-container {
        width: 501px;
        margin-right: 99px;
        padding-left: 16px;
    }

    .about__body-text-container {
        background-image: none;
        margin: 0 0;
    }

    .about__body-text-one {
        font-size: 16px;
        line-height: calc(25/16);
        width: 463px;
        margin-bottom: 20px;
    }

    .about__body-text-two {
        font-size: 14px;
        line-height: calc(27/14);
        width: 463px;
        margin-bottom: 40px;
    }
}



