@use "./utils/variables";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Titan+One&display=swap");

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.advantages-section {
    background-color: variables.$backgroundNeutralColor;
    .advantages-section__container {
        padding: 40px 0 60px 20px;
        max-width: 320px;
        margin: 0 auto;
        
    }
    .advantages__hidden-header {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .advantages__list {
        width: 230px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .advantages__list-item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }
    .advantages__header {
        font-family: "Titan One";
        font-weight: 400;
        font-size: 36px;
        line-height: 41px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: variables.$iconAccentColor;
    }
    .advantages-icon {
        margin-bottom: 16px;
        fill: variables.$titleSecondaryColor;
    }
    .advantages-icon--heart {
        stroke-width: 0.5px;
        stroke: variables.$titleSecondaryColor;
    }
    .advantages__text {
        font-family: "DM Sans";
        font-weight: 700;
        font-size: 12px;
        line-height: 170%;
        margin-top: 18px;
    }
}
@media screen and (min-width: 480px) {
    .advantages-section {
        .advantages-section__container {
            width: 100%;
            max-width: 480px;
        }
    }
}
@media screen and (min-width: 768px) {
    .advantages-section {
        .advantages-section__container {
            padding: 60px 32px 64px 32px;
            max-width: 768px;
        }
        .advantages-icon {
            margin-bottom: 36px;
        }
        .advantages__list {
            width: auto;
            flex-direction: row;
        }
        .advantages__list-item {
            max-width: 180px;
            &:not(:last-child) {
                margin-right: 16px;
                margin-bottom: 0;
            }
        }
        .advantages__header {
            font-size: 48px;
            line-height: 55px;
        }
        .advantages__text {
            font-size: 14px;
            line-height: 174%;
            margin-top: 13px;
        }
    }
}
@media screen and (min-width: 1280px) {
    .advantages-section {
        .advantages-section__container {
            padding: 40px 16px 120px 16px;
            max-width: 1200px;
            margin: 0 0;
        }
        .advantages-icon {
            margin-bottom: 40px;
        }
        .advantages__list {
            justify-content: space-between;
            margin-right: 96px;
            max-width: 1280px;
        }
        .advantages__list-item {
            max-width: 288px;
        }
        .advantages__header {
            font-size: 58px;
            line-height: 66px;
        }
        .advantages__text {
            font-size: 16px;
            line-height: 176%;
            letter-spacing: 0.02em;
            margin-top: 16px;
        }
    }
}
