* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.gallery__image {
    display: block;
    border-radius: 10px;
}

.gallery__section {
    background-image: linear-gradient(to bottom,
        #FFF5F6 34%,
        #FFF5F6 34%,
        #FFFFFF 15%);

    padding-top: 30px;
}

.gallery__list {
    display: flex;
    align-items: center;
    justify-content: center
}

.gallery__list-item {
    &:not(:last-child) {
        margin-right: 4px;
    }
}

.gallery__list-item-two {
    margin-top: 9px;
}

.gallery__list-item-four {
    margin-top: 15px;
}

.gallery__list-item-six {
    margin-top: 9px;
}

.gallery__image-two {
    margin-bottom: 4px;
}

.gallery__image-four {
    margin-bottom: 4px;
}

.gallery__image-six {
    margin-bottom: 4px;
}

.gallery__image-eight {
    margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
    .gallery__section {
        background-image: linear-gradient(to bottom,
            #FFF5F6 60%,
            #FFF5F6 60%,
            #FFFFFF 20%);

        padding-top: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .gallery__section {
        background-image: linear-gradient(to bottom,
            #FFF5F6 29%,
            #FFF5F6 29%,
            #FFFFFF 15%);

        padding-top: 60px;
    }
}