$titlePrimaryColor: #D41443;
$titleSecondaryColor: #FFA5BA;
$titleInverseColor: #FFFFFF;
$textPrimaryColor: #000000;
$textSecondaryColor: #907E82;
$textTertiaryColor: #FFA5BA;
$textInverseColor: #FFFFFF;
$textAccentColor: #D41443;
$backgroundFeatureLightColor: #FFB8CA;
$backgroundFeatureBaseColor: #FFA5BA;
$backgroundFeatureDarkColor: #E17992;
$backgroundSecondProductColor: #F0D1A5;
$backgroundThirdProductColor: #C2E297;
$backgroundLightColor: #E5E5E5;
$backgroundNeutralColor: #FFF5F6;
$backgroundInverseColor: #FFFFFF;
$textboxBackgroundColor: #FAFAFA;
$buttonInverseColor: #FFFFFF;
$buttonNeutralColor: #ECEBEB;
$buttonAccentColor: #D41443;
$buttonAltAccentColor: #D41342;
$iconLightColor: #FEA5BB;
$iconAccentColor: #D41443;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
$modal-background:rgba(0, 0, 0, 0.2);