<section class="advantages-section">
  <h1 class="advantages__hidden-header">Advantages</h1>
  <ul class="list advantages__list">
    <li class="advantages__list-item">
      <svg class="advantages-icon" width="50px" height="50px">
        <use href="images/sprite.svg#icon-advantages-sun"></use>
      </svg>
      <p class="advantages__header">721</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__list-item">
      <svg class="advantages-icon" width="50px" height="50px">
        <use href="images/sprite.svg#icon-advantages-cherries"></use>
      </svg>
      <p class="advantages__header">16kg</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advantages__list-item">
      <svg
        class="advantages-icon advantages-icon--heart"
        width="50px"
        height="50px"
      >
        <use href="images/sprite.svg#icon-advantages-heart"></use>
      </svg>
      <p class="advantages__header">84</p>
      <p class="advantages__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
