<!-- Contacts-start -->
<section class="contacts-section">
    <div class="container">
        <!-- This part will be hidden. -->
        <h2 class="hidden-title">Contacts</h2>
        <ul class="contacts">
            <li class="contacts__item">
                <p clas="contacts__title">Cafe</p>
                <p class="contacts__primary-text">Chicago</p>
                <p class="contacts__secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div class="contacts__work-time">
                    <p class="contacts__work-time__primary-text contacts__work-time__primary-text--after">Monday -
                        Friday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--after">06:00 AM - 10:00 PM</p>
                    <p class="contacts__work-time__primary-text contacts__work-time__primary-text--after">Saturday -
                        Sunday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--after">08:00 AM 16:00 PM</p>
                </div>
                <address class="contacts__adress">
                    <ul>
                        <li>
                            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>

            </li>
            <li class="contacts__item">
                <p clas="contacts__title">Food truck</p>
                <p class="contacts__primary-text">Los Angeles</p>
                <p class="contacts__secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div class="contacts__work-time">
                    <p class="contacts__work-time__primary-text contacts__work-time__primary-text--after">Monday -
                        Friday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--after">06:00 AM - 10:00 PM</p>
                    <p class="contacts__work-time__primary-text contacts__work-time__primary-text--after">Saturday -
                        Sunday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--after">08:00 AM 16:00 PM</p>
                </div>
                <address class="contacts__adress">
                    <ul>
                        <li>
                            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
            <li class="contacts__item">
                <p clas="contacts__title">Cafe</p>
                <p class="contacts__primary-text">New York</p>
                <p class="contacts__secondary-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div class="contacts__work-time">
                    <p class="contacts__work-time__primary-text contacts__work-time__primary-text--after">Monday -
                        Friday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--after">06:00 AM - 10:00 PM</p>
                    <p class="contacts__work-time__primary-text contacts__work-time__primary-text--after">Saturday -
                        Sunday</p>
                    <p class="contacts__work-time__time contacts__work-time__time--after">08:00 AM 16:00 PM</p>
                </div>
                <address class="contacts__adress">
                    <ul>
                        <li>
                            <a href="tel:+610383766284" class="contacts__link">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
                        </li>
                    </ul>
                </address>
            </li>
        </ul>
        <ul class="button-contacts">
            <li>
                <button type="button" class="button button-contacts__location button--modification">
                    <span class="button-contacts__label">Our locations</span>
                    <svg class="button-contacts__icon" width="4.43" height="8">
                        <use href="./images/sprite.svg#icon-right-arrow-point"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button" class="button button-contacts__franchise button--modification">
                    <span class="button-contacts__label">Franchise</span>
                    <svg class="button-contacts__icon" width="4.43" height="8">
                        <use href="./images/sprite.svg#icon-right-arrow-point"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>
<!-- Contacts-end -->