    <!-- Customer reviews start-->
    <section class="reviews" id="customer-reviews">
      <h2 class="hidden-title">Customer reviews</h2>
      <div class="view">
        <ul class="content reviews__list">
          <li class="reviews__item element">
            <div class="reviews__img">
              <picture class="reviews__img ">
                <source srcset="../images/customer-reviews/png/cr-client1.png 1x,
                    ../images/customer-reviews/png/cr-client1@2x.png 2x" media="(min-width:320px)">
                <img src="../images/customer-reviews/png/cr-client1.png" alt="Photo of customer">
              </picture>
            </div>
            <div class="container__position">
              <div class="reviews__container">
                <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
              </div>
            </div>
            <div class="reviews__details">
              <ul class="reviews__details-list">
                <li class="reviews__details-item">
                  <svg class="reviews__details-icon" width="4" height="4">
                    <use href="../images/customer-reviews/svg/sprite.svg#icon-ellipse"></use>
                  </svg>
                </li>
                <li class="reviews__details-item">
                  <svg class="reviews__details-icon" width="4" height="4">
                    <use href="../images/customer-reviews/svg/sprite.svg#icon-ellipse"></use>
                  </svg>
                </li>
                <li class="reviews__details-item">
                  <svg class="reviews__details-icon" width="4" height="4">
                    <use href="../images/customer-reviews/svg/sprite.svg#icon-ellipse"></use>
                  </svg>
                </li>
              </ul>
              <h2 class="reviews__details-title">Emily, Los Angeles</h2>
            </div>
          </li>
          <li class="reviews__item element">
            <div class="reviews__img">
              <picture class="reviews__img ">
                <source srcset="../images/customer-reviews/png/cr-client2.png 1x,
                    ../images/customer-reviews/png/-crclient2@2x.png 2x" media="(min-width:320px)">
                <img src="../images/customer-reviews/png/cr-client2.png" alt="Photo of customer">
              </picture>
            </div>
            <div class="container__position">
              <div class="reviews__container">
                <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
              </div>
            </div>
            <div class="reviews__details">
              <ul class="reviews__details-list">
                <li class="reviews__details-item">
                  <svg class="reviews__details-icon" width="4" height="4">
                    <use href="../images/customer-reviews/svg/sprite.svg#icon-ellipse"></use>
                  </svg>
                </li>
                <li class="reviews__details-item">
                  <svg class="reviews__details-icon" width="4" height="4">
                    <use href="../images/customer-reviews/svg/sprite.svg#icon-ellipse"></use>
                  </svg>
                </li>
                <li class="reviews__details-item">
                  <svg class="reviews__details-icon" width="4" height="4">
                    <use href="../images/customer-reviews/svg/sprite.svg#icon-ellipse"></use>
                  </svg>
                </li>
              </ul>
              <h2 class="reviews__details-title">Emily, Los Angeles</h2>
            </div>
          </li>
          </li>
          <li class="reviews__item element">
            <div class="reviews__img">
              <picture class="reviews__img ">
                <source srcset="../images/customer-reviews/png/cr-client3.png 1x,
                    ../images/customer-reviews/png/cr-client3@2x.png 2x" media="(min-width:320px)">
                <img src="../images/customer-reviews/png/cr-client3.png" alt="Photo of customer">
              </picture>
            </div>
            <div class="container__position">
              <div class="reviews__container">
                <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
              </div>
            </div>
            <div class="reviews__details">
              <ul class="reviews__details-list">
                <li class="reviews__details-item">
                  <svg class="reviews__details-icon" width="4" height="4">
                    <use href="../images/customer-reviews/svg/sprite.svg#icon-ellipse"></use>
                  </svg>
                </li>
                <li class="reviews__details-item">
                  <svg class="reviews__details-icon" width="4" height="4">
                    <use href="../images/customer-reviews/svg/sprite.svg#icon-ellipse"></use>
                  </svg>
                </li>
                <li class="reviews__details-item">
                  <svg class="reviews__details-icon" width="4" height="4">
                    <use href="../images/customer-reviews/svg/sprite.svg#icon-ellipse"></use>
                  </svg>
                </li>
              </ul>
              <h2 class="reviews__details-title">Emily, Los Angeles</h2>
            </div>
          </li>
        </ul>
      </div>
      <div>
      </div>
      <div class="navigation">
        <span class="previous">
          <i class="arrow-left"></i>
        </span>
        <span class="num selected" data-index="1">1</span>
        <span class="num" data-index="2">2</span>
        <span class="num" data-index="3">3</span>
        <span class="next"><i class="arrow-right"></i>
        <i class="arrow-right"></i>
        </span>        
      </div>
    </section>