<section class="reviews__section">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img
        class="review__image"
        src="./images/customer-review-client1.png"
        alt="picture of a client"
      />
      <div class="review__box">
        <div class="review__gradient">
          <ul class="review-text-list">
            <li>
              <svg class="review__quote" width="54" height="40">
                <use href="./images/sprite.svg#icon-quotes"></use>
              </svg>
            </li>
          <li class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </li>
        </ul>
        </div>
      </div>
      <svg class="review__icon" width="32" height="4">
        <use href="./images/sprite.svg#icon-three-dots"></use>
      </svg>
      <p class="review__name-location">Emily, Los Angeles</p>
    </div>
    <div class="mySlides fade">
      <img
        class="review__image"
        src="./images/customer-review-client2.png"
        alt="picture of a client"
      />
      <div class="review__box">
        <div class="review__gradient">
          <ul class="review-text-list">
            <li>
              <svg class="review__quote" width="54" height="40">
                <use href="./images/sprite.svg#icon-quotes"></use>
              </svg>
            </li>
          <li class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </li>
        </ul>
        </div>
      </div>
      <svg class="review__icon" width="32" height="4">
        <use href="./images/sprite.svg#icon-three-dots"></use>
      </svg>
      <p class="review__name-location">Emily, Los Angeles</p>
    </div>

    <div class="mySlides fade">
      <img
        class="review__image"
        src="./images/customer-review-client3.png"
        alt="picture of a client"
      />
      <div class="review__box">
        <div class="review__gradient">
          <ul class="review-text-list">
            <li>
              <svg class="review__quote" width="54" height="40">
                <use href="./images/sprite.svg#icon-quotes"></use>
              </svg>
            </li>
          <li class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </li>
        </ul>
        </div>
      </div>
      <svg class="review__icon" width="32" height="4">
        <use href="./images/sprite.svg#icon-three-dots"></use>
      </svg>
      <p class="review__name-location">Emily, Los Angeles</p>
    </div>
  </div>
  <br />
  <div style="text-align: center">
    <ul class="review__list">
      <li class="review__item">
        <svg class="review__slider-house"  width="12px" height="12px">
          <use class="review__slider-active" onclick="currentSlide(1)" href="./images/sprite.svg#icon-house"></use>
      </svg>
      </li>
      <li class="review__item">
        <svg class="review__slider-dot"  width="12px" height="12px">
          <use class="review__slider-active" onclick="currentSlide(2)" href="./images/sprite.svg#icon-single-dot"></use>
      </svg>
      </li>
      <li class="review__item">
        <svg class="review__slider-dot"  width="12px" height="12px">
          <use class="review__slider-active" onclick="currentSlide(3)" href="./images/sprite.svg#icon-single-dot"></use>
      </svg>
      </li>
    </ul>
  </div>
</section>

<script>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName('mySlides');
    let dots = document.getElementsByClassName('dot');
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none';
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(' active', '');
    }
    slides[slideIndex - 1].style.display = 'block';
    dots[slideIndex - 1].className += ' active';
  }
</script>
