<section class="gallery__section">
  <div class="gallery__container">
    <ul class="gallery__list">
      <li class="gallery__list-item gallery__list-item-one">
        <picture>
          <source srcset="./images/gallery-variety-desk.jpg 1x, ./images/gallery-variety-desk-2x.jpg 2x"
            media="(min-width:1280px)" width="138" height="138">
          <source srcset="./images/gallery-variety-tablet.jpg 1x, ./images/gallery-variety-tablet-2x.jpg 2x"
            media="(min-width:768px)" width="104" height="104">
          <source srcset="./images/gallery-variety-mobile.jpg 1x, ./images/gallery-variety-mobile@2x.jpg 2x"
            media="(min-width:480px)" width="43" height="43">
          <img class="gallery__image gallery__image-one" src="./images/gallery-variety-mobile.jpg"
            alt="Image of Ice Cream" width="43" height="43" />
        </picture>
      </li>
      <li class="gallery__list-item gallery__list-item-two">
        <picture>
          <source srcset="./images/gallery-icecream-cone-desk.jpg 1x, ./images/gallery-icecream-cone-desk-2x.jpg 2x"
            media="(min-width:1280px)" width="138" height="138">
          <source srcset="./images/gallery-icecream-cone-tablet.jpg 1x, ./images/gallery-icecream-cone-tablet-2x.jpg 2x"
            media="(min-width:768px)" width="104" height="104">
          <source srcset="./images/gallery-icecream-cone.jpg 1x, ./images/gallery-icecream-cone@2x.jpg 2x"
            media="(min-width:480px)" width="43" height="43">
          <img class="gallery__image gallery__image-two" src="./images/gallery-icecream-cone.jpg"
            alt="Image of Ice Cream" width="43" height="43" />
        </picture>
        <picture>
          <source srcset="./images/gallery-frozen-bar-desk.jpg 1x, ./images/gallery-frozen-bar-desk-2x.jpg 2x"
            media="(min-width:1280px)" width="138" height="138">
          <source srcset="./images/gallery-frozen-bar-tablet.jpg 1x, ./images/gallery-frozen-bar-tablet-2x.jpg 2x"
            media="(min-width:768px)" width="104" height="104">
          <source srcset="./images/gallery-frozen-bar.jpg 1x, ./images/gallery-frozen-bar@2x.jpg 2x"
            media="(min-width:480px)" width="43" height="43">
          <img class="gallery__image gallery__image-three" src="./images/gallery-frozen-bar.jpg"
            alt="Image of Ice Cream" width="43" height="43" />
        </picture>
      </li>
      <li class="gallery__list-item gallery__list-item-three">
        <picture>
          <source srcset="./images/gallery-cones-desk.jpg 1x, ./images/gallery-cones-desk-2x.jpg 2x"
            media="(min-width:1280px)" width="283" height="283">
          <source srcset="./images/gallery-cones-tablet.jpg 1x, ./images/gallery-cones-tablet-2x.jpg 2x"
            media="(min-width:768px)" width="214" height="214">
          <source srcset="./images/gallery-cones-mobile.jpg 1x, ./images/gallery-cones-mobile-2x.jpg 2x"
            media="(min-width:480px)" width="89" height="89">
          <img class="gallery__image gallery__image-four" src="./images/gallery-cones-mobile.jpg"
            alt="Image of Ice Cream" width="89" height="89" />
        </picture>
        <picture>
          <source srcset="./images/gallery-face-desk.jpg 1x, ./images/gallery-face-desk-2x.jpg 2x"
            media="(min-width:1280px)" width="138" height="138">
          <source srcset="./images/gallery-face-tablet.jpg 1x, ./images/gallery-face-tablet-2x.jpg 2x"
            media="(min-width:768px)" width="104" height="104">
          <source srcset="./images/gallery-face-mobile.jpg 1x, ./images/gallery-face-mobile-2x.jpg 2x"
            media="(min-width:480px)" width="43" height="43">
          <img class="gallery__image gallery__image-five" src="./images/gallery-face-mobile.jpg"
            alt="Image of Ice Cream" width="43" height="43" />
        </picture>
      </li>
      <li class="gallery__list-item gallery__list-item-four">
        <picture>
          <source srcset="./images/gallery-blueberries-desk.jpg 1x, ./images/gallery-blueberries-desk-2x.jpg 2x"
            media="(min-width:1280px)" width="138" height="138">
          <source srcset="./images/gallery-blueberries-tablet.jpg 1x, ./images/gallery-blueberries-tablet-2x.jpg 2x"
            media="(min-width:768px)" width="104" height="104">
          <source srcset="./images/gallery-blueberries-mobile.jpg 1x, ./images/gallery-blueberries-mobile-2x.jpg 2x"
            media="(min-width:480px)" width="43" height="43">
          <img class="gallery__image gallery__image-six" src="./images/gallery-blueberries-mobile.jpg"
            alt="Image of Ice Cream" width="43" height="43" />
        </picture>
        <picture>
          <source srcset="./images/gallery-star-desk.jpg 1x, ./images/gallery-star-desk-2x.jpg 2x"
            media="(min-width:1280px)" width="138" height="138">
          <source srcset="./images/gallery-star-tablet.jpg 1x, ./images/gallery-star-tablet-2x.jpg 2x"
            media="(min-width:768px)" width="104" height="104">
          <source srcset="./images/gallery-star-mobile.jpg 1x, ./images/gallery-star-mobile-2x.jpg 2x"
            media="(min-width:480px)" width="43" height="43">
          <img class="gallery__image gallery__image-seven" src="./images/gallery-star-mobile.jpg"
            alt="Image of Ice Cream" width="43" height="43" />
        </picture>
      </li>
      <li class="gallery__list-item gallery__list-item-five">
        <picture>
          <source srcset="./images/gallery-dog-desk.jpg 1x, ./images/gallery-dog-desk-2x.jpg 2x"
            media="(min-width:1280px)" width="138" height="138">
          <source srcset="./images/gallery-dog-tablet.jpg 1x, ./images/gallery-dog-tablet-2x.jpg 2x"
            media="(min-width:768px)" width="104" height="104">
          <source srcset="./images/gallery-dog-mobile.jpg 1x, ./images/gallery-dog-mobile-2x.jpg 2x"
            media="(min-width:480px)" width="43" height="43">
          <img class="gallery__image gallery__image-eight" src="./images/gallery-dog-mobile.jpg"
            alt="Image of Ice Cream" width="43" height="43" />
        </picture>
        <picture>
          <source srcset="./images/gallery-chocolate-desk.jpg 1x, ./images/gallery-chocolate-desk-2x.jpg 2x"
            media="(min-width:1280px)" width="138" height="138">
          <source srcset="./images/gallery-chocolate-tablet.jpg 1x, ./images/gallery-chocolate-tablet-2x.jpg 2x"
            media="(min-width:768px)" width="104" height="104">
          <source srcset="./images/gallery-chocolate-mobile.jpg 1x, ./images/gallery-chocolate-mobile-2x.jpg 2x"
            media="(min-width:480px)" width="43" height="43">
          <img class="gallery__image gallery__image-nine" src="./images/gallery-chocolate-mobile.jpg"
            alt="Image of Ice Cream" width="43" height="43" />
        </picture>
      </li>
      <li class="gallery__list-item gallery__list-item-six">
        <picture>
          <source srcset="./images/gallery-jar-desk.jpg 1x, ./images/gallery-jar-desk-2x.jpg 2x"
            media="(min-width:1280px)" width="138" height="138">
          <source srcset="./images/gallery-jar-tablet.jpg 1x, ./images/gallery-jar-tablet-2x.jpg 2x"
            media="(min-width:768px)" width="104" height="104">
          <source srcset="./images/gallery-jar-mobile.jpg 1x, ./images/gallery-jar-mobile-2x.jpg 2x"
            media="(min-width:480px)" width="43" height="43">
          <img class="gallery__image gallery__image-ten" src="./images/gallery-jar-mobile.jpg" alt="Image of Ice Cream"
            width="43" height="43" />
        </picture>
      </li>
    </ul>
  </div>
</section>