<!-- Header Nav Section -->

<!-- id="home" verify correct term for usage and is this redundant because other anchor tags can just target #top to do the same since this section is the top of the page? -->

<header class="header" id="home">
    <div class="header__container">
        <div class="headerNav">
            <img class="headerNav__logo"
                srcset="images/header-logo-mobile.png 1x, images/header-logo-mobile-2x.png 2x"
                src="images/header-logo-mobile.png" alt="Logo">
            <ul class="headerNav__list">
                <li class="headerNav__item ">
                    <a href="#" class="headerNav__link">Home</a>
                </li>

                <!-- the next 4 href need section anchor verification -->

                <li class="headerNav__item">
                    <a href="#" class="headerNav__link">About us</a>
                </li>
                <li class="headerNav__item">
                    <a href="#aboutanchor" class="headerNav__link">How it's made?</a>
                </li>
                <li class="headerNav__item">
                    <a href="#products" class="headerNav__link">Our products</a>
                </li>
                <li class="headerNav__item">
                    <a href="#" class="headerNav__link">Contact</a>
                </li>
            </ul>
            <button class="headerNav__menuButton js-open-menu" type="button">
                <svg width="20" height="12" class="header__menuIcon">
                    <use href="images/sprite.svg#icon-burger"></use>
                </svg>
            </button>
            <button type="button" class="headerNav__buyButton">
                <span class="headerNav__span">Buy now</span>
                <svg width="7" height="14" class="headerNav__chevron">
                    <use href="images/sprite.svg#icon-chevron"></use>
                </svg>
            </button>
        </div>

        <!-- Mobile Modal section -->



        <!-- Header Hero section -->

        <div class="hero">
            <div class="hero__container">
                <div class="hero__imageCone">
                    <img class="hero__imageCone--mobile"
                        srcset="images/hero-header-mobile.png 1x, images/hero-header-mobile-2x.png 2x"
                        src="images/hero-header-mobile.png" alt="ice cream cone">
                    <img class="hero__imageCone--tablet"
                        srcset="images/hero-header-tablet.png 1x, images/hero-header-tablet.png 2x"
                        src="images/hero-header-tablet.png" alt="ice cream cone">
                    <img class="hero__imageCone--desktop"
                        srcset="images/hero-header-desk.png 1x, images/hero-header-desk-2x.png 2x"
                        src="images/hero-header-desk.png" alt="ice cream cone">
                </div>
                <div class="hero__title">
                    Ice cream made with
                    <span class="hero__span">Passion</span>
                
                <ul class="hero__buttonList">
                    <li class="hero__buttonItem">

                        <!-- check to make sure the href id is correct to the products anchor id and the How it's made anchor id-->

                        <button type="button" href="#products" class="hero__button hero__button--odd">Products</button>
                    </li>
                    <li class="hero__buttonItem">
                        <button type="button" href="#aboutanchor" class="hero__button hero__button--even">How it's made</button>
                    </li>
                </ul>
                <ul class="heroHype__list">
                    <li class="heroHype__item">
                        <div class="heroHype__elipse"></div>
                        <span class="heroHype__bigSpan">16</span>
                        <span class="heroHype__smallSpan">cafes</span>
                    </li>
                    <li class="heroHype__item">
                        <div class="heroHype__elipse"></div>
                        <span class="heroHype__bigSpan">23</span>
                        <span class="heroHype__smallSpan">food trucks</span>
                    </li>
                </ul>
                <div class="heroMilk">
                    <img class="heroMilk__img--tablet"
                        srcset="images/hero-milk-picture-tablet-.png 1x, images/hero-milk-picture-tablet-2x.png 2x"
                        src="images/hero-milk-picture-tablet-.png" alt="milk">
                    <img class="heroMilk__img--desk"
                        srcset="images/hero-milk-picture-desk.png 1x, images/hero-milk-picture-desk-2x.png 2x"
                        src="images/hero-milk-picture-desk.png" alt="milk">
                    <div class="heroMilk__flexainer">
                        <span class="heroMilk__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et</span>
                        <button type="button" class="heroMilk__button">
                            <svg width="7" height="7" class="heroMilk__icon--tablet">
                                <use href="images/sprite.svg#icon-arrow-right"></use>
                            </svg>
                            <svg width="11" height="11" class="heroMilk__icon--desk">
                                <use href="images/sprite.svg#icon-arrow-right"></use>
                            </svg>
                        </button>
                    </div>                        
                </div>
                <div class="heroTasty">
                    <img class="heroTasty__image--tablet"
                        srcset="images/hero-so-tasty-tablet.png 1x, images/hero-so-tasty-tablet-2x.png 2x"
                        src="images/hero-so-tasty-tablet.png" alt="so tasty ice cream">
                    <img class="heroTasty__image--desk"
                        srcset="images/hero-so-tasty-desk.png 1x, images/hero-so-tasty-desk-2x.png 2x"
                        src="images/hero-so-tasty-desk.png" alt="so tasty ice cream">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- NavModal Section -->

<section class="navModal js-menu-container">
    <div class="navModal__container">
        <button class="navModal__closeButton js-close-menu">
            <svg class="navModal__closeIcon" width="14" height="14">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <button type="button" class="navModal__buyButton js-close-menu">
            <span class="navModal__span">Buy now</span>
            <svg width="7" height="14" class="navModal__chevron">
                <use href="images/sprite.svg#icon-chevron"></use>
            </svg>
        </button>
        
        <!-- Verify correct anchor tags -->
        
        <ul class="navModal__list">
            <li class="navModal__item">
                <a href="" class="navModal__link">Home</a>
            </li>
            <li class="navModal__item">
                <a href="#" class="navModal__link">About us</a>
            </li>
            <li class="navModal__item">
                <a href="#aboutanchor" class="navModal__link">How it's made?</a>
            </li>
            <li class="navModal__item">
                <a href="#products" class="navModal__link">Our products</a>
            </li>
            <li class="navModal__item">
                <a href="#" class="navModal__link">Contact</a>
            </li>
        </ul>
    </div>
</section>
<script src="./navmodal.js"></script>