<section class="locations">
    <title class="visually-hidden">Locations</title>
    <div class="locations__conatiner">
        <ul class="locations__info">
            <li class="locations__type-cafe">CAFE
            </li>
            <li class="locations__city">Chicago
            </li>
            <li class="locations__text">Fusce ut velit laoreet, tempus arcu molestie vulputate
            </li>
            <li class="locations__weekdays">Monday - Friday
            </li>
            <li class="locations__weekdays-times"> 06:00 AM - 10:00 PM
            </li>
            <li class="locations__weekends">Saturday - Sunday
            </li>
            <li class="locations__weekends-times"> 08:00 AM - 16:00 PM
            </li>
            <li class="locations__contact-item">
                <a class="locations__contact-item-link" href="tel:610383766284">
                    +61(0) 383 766 284
                </a>
            </li>
            <li class="locations__contact-item">
                <a class="locations__contact-item-link" href="mailto:noreply@envato.com">
                    noreply@envato.com
                </a>
            </li>
        </ul>
        <ul class="locations__info">
            <li class="locations__type-foodtruck">FOODTRUCK
            </li>
            <li class="locations__city">Los Angeles
            </li>
            <li class="locations__text">Fusce ut velit laoreet, tempus arcu molestie vulputate
            </li>
            <li class="locations__weekdays">Monday - Friday
            </li>
            <li class="locations__weekdays-times"> 06:00 AM - 10:00 PM
            </li>
            <li class="locations__weekends">Saturday - Sunday
            </li>
            <li class="locations__weekends-times"> 08:00 AM - 16:00 PM
            </li>
            <li class="locations__contact-item">
                <a class="locations__contact-item-link" href="tel:610383766284">
                    +61(0) 383 766 284
                </a>
            </li>
            <li class="locations__contact-item">
                <a class="locations__contact-item-link" href="mailto:noreply@envato.com">
                    noreply@envato.com
                </a>
            </li>
        </ul>
        <ul class="locations__info locations__info-truck">
            <li class="locations__type-cafe">CAFE
            </li>
            <li class="locations__city">New York
            </li>
            <li class="locations__text">Fusce ut velit laoreet, tempus arcu molestie vulputate
            </li>
            <li class="locations__weekdays">Monday - Friday
            </li>
            <li class="locations__weekdays-times"> 06:00 AM - 10:00 PM
            </li>
            <li class="locations__weekends">Saturday - Sunday
            </li>
            <li class="locations__weekends-times"> 08:00 AM - 16:00 PM
            </li>
            <li class="locations__contact-item">
                <a class="locations__contact-item-link" href="tel:610383766284">
                    +61(0) 383 766 284
                </a>
            </li>
            <li class="locations__contact-item">
                <a class="locations__contact-item-link" href="mailto:noreply@envato.com">
                    noreply@envato.com
                </a>
            </li>
        </ul>
    </div>
    <div class="locations__button-section">
        <button class=" locations__button-our" type="button">
            Our Locations
            <svg class="send-icon-our" width="10px" height="20px">
                <use href="images/sprite.svg#icon-chevron"></use>
            </svg>
        </button>
        <button class="locations__button-franchise" type="button">
            Franchise
            <svg class="send-icon-franchise" width="10px" height="20px">
                <use href="images/sprite.svg#icon-chevron"></use>
            </svg>
        </button>
    </div>
</section>