<section class="products__container">
    <div class="products__title">
        <p class="products__title-claim">100% NATURAL</p>
        <h2 class="products__title-main">PRODUCTS</h2>
    </div>
    <ul class="products__list">
        <li class="products__list-item products__list-item-icecream">

            <picture>
                <source srcset="images/products-ice-cream-cone-mobile.png, images/products-ice-cream-cone-mobile-2x.png"
                    media="(max-width: 767px)" width="280" height="280">
                <source srcset="images/products-ice-cream-cone-tablet.png, images/products-ice-cream-cone-tablet-2x.png"
                    media="(max-width: 1199px)" width="224" height="224">
                <source srcset="images/products-ice-cream-desk.png, images/products-ice-cream-desk-2x.png"
                    media="(min-width: 1200px)" width="368" height="394">
                <img class="ice-cream" src="images/products-ice-cream-desk.png" alt="strawberry ice cream cone"
                    width="368" height="394">
            </picture>

            <div class="products__list-item-description">
                <h2 class="products__list-item-title">ICE CREAM</h2>
                <svg class="product__list-item-icon" width="26" height="6">
                    <use href="./images/sprite.svg#icon-three-dots"></use>
                </svg>
                <p class="prodcuts__list-item-info"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et.<span class="products__end-info">dolore magna aliqua
                        facilisis.</span></p>
                <a class="products__info-link" href="#">
                    <button class="products__button" type="button">
                        <svg class="arrow-button" width="15" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </a>
            </div>
        </li>
        <li class="products__list-item products__list-item-icecoffee">

            <picture>
                <source srcset="images/products-ice-coffee-mobile.png, images/products-ice-coffee-mobile-2x.png"
                    media="(max-width: 767px)" width="280" height="280">
                <source srcset="images/products-ice-coffee-tablet.png, images/products-ice-coffee-tablet-2x.png"
                    media="(max-width: 1199px)" width="224" height="224">
                <source srcset="images/products-ice-coffee-desk.png, images/products-ice-coffee-desk-2x.png"
                    media="(min-width: 1200px)" width="368" height="394">
                <img class="ice-cream" src="images/products-ice-coffee-desk.png" alt="strawberry ice cream cone"
                    width="368" height="394">
            </picture>

            <div class="products__list-item-description">
                <h2 class="products__list-item-title">ICE COFFEE</h2>
                <svg class="product__list-item-icon" width="26px" height="6px">
                    <use href="./images/sprite.svg#icon-three-dots"></use>
                </svg>
                <p class="prodcuts__list-item-info"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et.<span class="products__end-info">dolore magna aliqua
                        facilisis.</span></p>
                <a class="products__info-link" href="#">
                    <button class="products__button" type="button">
                        <svg class="arrow-button" width="15px" height="15px">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </a>
            </div>
        </li>
        <li class="products__list-item products__list-item-milkshakes">

            <picture>
                <source srcset="images/products-milk-shake-mobile.png, images/products-milk-shake-mobile-2x.png"
                    media="(max-width: 767px)" width="280" height="280">
                <source srcset="images/products-milk-shake-tablet.png, images/products-milk-shake-tablet-2x.png"
                    media="(max-width: 1199px)" width="224" height="224">
                <source srcset="images/products-milk-shake-desk.png, images/products-milk-shake-desk-2x.png"
                    media="(min-width: 1200px)" width="368" height="394">
                <img class="ice-cream" src="images/products-milk-shake-desk.png" alt="strawberry ice cream cone"
                    width="368" height="394">
            </picture>

            <div class="products__list-item-description">
                <h2 class="products__list-item-title">MILKSHAKES</h2>
                <svg class="product__list-item-icon" width="26px" height="6px">
                    <use href="./images/sprite.svg#icon-three-dots"></use>
                </svg>
                <p class="prodcuts__list-item-info"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et.<span class="products__end-info">dolore magna aliqua
                        facilisis.</span></p>
                <a class="products__info-link" href="#">
                    <button class="products__button" type="button">
                        <svg class="arrow-button" width="15px" height="15px">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </a>
            </div>
        </li>
    </ul>
</section>